form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 2;
  border: black 2px;
}

.input-container {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 12px;
  font-size: 16px;
  background-color: #7064bd; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #141481; 
}
